<!DOCTYPE html>
<html lang="en">

<head>
    <title>Consensus</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/tailwind.config.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/static/sorting.js"></script>
    <!-- <script src="/static/toast.js"></script> -->
</head>

<body class="dark:bg-gray-900 dark:text-white">
    <header>
        {{ block "nav" . }}{{ end }}
    </header>
    {{ block "title" . }}{{ end }}
    <div id="body">
        {{ block "body" . }}
            <div class="hero min-h-screen bg-base-200">
                <div class="hero-content text-center">
                    <div class="skeleton w-32 h-32"></div>
                </div>
            </div>
        {{ end }}
    </div>
</body>

</html>