<!DOCTYPE html>
<html lang="en">

<head>
    <title>Consensus</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/tailwind.config.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="/static/sorting.js"></script>
</head>

<body class="dark:bg-gray-900 dark:text-white">
    <div class="text-center">
        <h1 class="text-3xl font-bold underline m-4">{{ block "title" . }}Consensus{{ end }}</h1>
        {{ block "body" . }}home page{{ end }}
    </div>
</body>

</html>