{{ define "title" }}{{ .Title }}{{ end }}

{{ define "body" }}
<table class="mx-auto table-auto">
    <thead>
        <tr>
            <th class="border px-4 py-2">Backlog</th>
            <th class="border px-4 py-2">In Progress</th>
            <th class="border px-4 py-2">Code Review</th>
            <th class="border px-4 py-2">Testing</th>
            <th class="border px-4 py-2">Done</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="align-top">
                <form class="sortable flex flex-col" hx-get="/projects/{{.ID}}/items" >
                </form>
            </td>
            <!-- <td class="align-top">
                <form class="sortable flex flex-col" hx-post="/projects/{{.ID}}/items/backlog" hx-trigger="end">
                </form>
            </td> -->
            <!-- <td class="align-top">
                <form class="sortable flex flex-col" hx-post="/projects/items/backlog" hx-trigger="end">
                </form>
            </td>
            <td class="align-top">
                <form class="sortable flex flex-col" hx-post="/projects/items/inprogress" hx-trigger="end">
                </form>
            </td>
            <td class="align-top">
                <form class="sortable flex flex-col" hx-post="/projects/items/codereview" hx-trigger="end">
                </form>
            </td>
            <td class="align-top">
                <form class="sortable flex flex-col" hx-post="/projects/items/testing" hx-trigger="end">
                </form>
            </td>
            <td class="align-top">
                <form class="sortable flex flex-col" hx-post="/projects/items/done" hx-trigger="end">
                </form>
            </td> -->
        </tr>
    </tbody>
</table>
{{ end }}