{{ define "body" }}

<!-- 
    Show the action buttons above the swimlanes
 -->
<div class="flex bg-gray-600 mx-4 p-4 mb-2 rounded-lg">
    <button class="btn btn-sm btn-outline btn-success" onclick="new_task.showModal()">create task</button>
    <dialog id="new_task" class="modal">
    <div class="modal-box">
        <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="text-lg font-bold">Hello!</h3>
        <p class="py-4">Press ESC key or click on ✕ button to close</p>
    </div>
    </dialog>
</div>

<!-- 
    Show the swimlanes
 -->
<div class="flex gap-4 px-4 h-full">
    <!-- To Do Lane -->
    <div class="flex-1 bg-gray-600 p-4 rounded-lg shadow-lg">
        <h2 class="text-xl text-red-400 font-semibold mb-4">Backlog <span class="badge badge-error">{{len .Project.Backlog}}</span></h2>
        <div class="space-y-4">
            {{ range .Project.Backlog }}
                <div class="bg-[#719EC8] hover:bg-[#a3c9ec] hover:text-black p-4 rounded-lg shadow-md">
                    <p>{{ .Title }}</p>
                </div>
            {{ end }}
        </div>
    </div>

    <!-- In Progress Lane -->
    <div class="flex-1 bg-gray-600 p-4 rounded-lg shadow-lg">
        <h2 class="text-xl text-green-400 font-semibold mb-4">In Progress <span class="badge badge-success">{{len .Project.InProgress}}</span></h2>
        <div class="space-y-4">
            {{ range .Project.InProgress }}
                <div class="bg-[#719EC8] hover:bg-[#a3c9ec] hover:text-black p-4 rounded-lg shadow-md">
                    <p>{{ .Title }}</p>
                </div>
            {{ end }}
        </div>
    </div>

    <!-- Code Review -->
    <div class="flex-1 bg-gray-600 p-4 rounded-lg shadow-lg">
        <h2 class="text-xl text-yellow-600 font-semibold mb-4">Code Review <span class="badge badge-warning">{{len .Project.CodeReview}}</span></h2>
        <div class="space-y-4">
            {{ range .Project.CodeReview }}
                <div class="bg-[#719EC8] hover:bg-[#a3c9ec] hover:text-black p-4 rounded-lg shadow-md">
                    <p>{{ .Title }}</p>
                </div>
            {{ end }}
        </div>
    </div>

    <!-- Testing Lane -->
    <div class="flex-1 bg-gray-600 p-4 rounded-lg shadow-lg">
        <h2 class="text-xl text-orange-400 font-semibold mb-4">Testing <span class="badge badge-warning">{{len .Project.Testing}}</span></h2>
        <div class="space-y-4">
            {{ range .Project.Testing }}
                <div class="bg-[#719EC8] hover:bg-[#a3c9ec] hover:text-black p-4 rounded-lg shadow-md">
                    <p>{{ .Title }}</p>
                </div>
            {{ end }}
        </div>
    </div>

    <!-- Done Lane -->
    <div class="flex-1 bg-gray-600 p-4 rounded-lg shadow-lg">
        <h2 class="text-xl font-semibold mb-4">Done <span class="badge badge-neutral">{{len .Project.Done}}</span></h2>
        <div class="space-y-4">
            {{ range .Project.Done }}
                <div class="bg-[#719EC8] hover:bg-[#a3c9ec] hover:text-black p-4 rounded-lg shadow-md">
                    <p>{{ .Title }}</p>
                </div>
            {{ end }}
        </div>
    </div>
</div>

{{ end }}