{{ define "body" }}

<!-- 
    Show the action buttons above the swimlanes
 -->
 <div class="flex bg-gray-600 mx-4 p-4 mb-2 rounded-lg">
    <button class="btn btn-sm btn-outline btn-success" onclick="document.getElementById('new_task').showModal()">Create Scenario</button>
    <dialog id="new_task" class="modal">
        <div class="modal-box w-11/12 max-w-5xl">
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                <div class="mb-4">
                    <label class="font-bold text-gray-300 block mb-1">Given</label>
                    <textarea class="textarea textarea-bordered w-full text-gray-400" rows="1" placeholder="a customer previously bought a black sweater from me"></textarea>
                </div>
                <div class="mb-4">
                    <label class="font-bold text-gray-300 block mb-1">And</label>
                    <textarea class="textarea textarea-bordered w-full text-gray-400" rows="1" placeholder="a customer previously bought a black sweater from me">I have three black sweaters in inventory,</textarea>
                </div>
                <div class="mb-4">
                    <label class="font-bold text-gray-300 block mb-1">When</label>
                    <textarea class="textarea textarea-bordered w-full text-gray-400" rows="1" placeholder="a customer previously bought a black sweater from me">they return the black sweater for a refund,</textarea>
                </div>
                <div class="mb-4">
                    <label class="font-bold text-gray-300 block mb-1">Then</label>
                    <textarea class="textarea textarea-bordered w-full text-gray-400" rows="1" placeholder="a customer previously bought a black sweater from me">I should have four black sweaters in inventory.</textarea>
                </div>
            </form>
        </div>
    </dialog>
</div>

<!-- 
    Show the swimlanes
 -->
<div class="flex gap-4 px-4 h-full">
    <!-- To Do Lane -->
    <div class="flex-1 bg-gray-600 p-4 rounded-lg shadow-lg">
        <h2 class="text-xl text-red-400 font-semibold mb-4">Backlog <span class="badge badge-error">{{len .Project.Backlog}}</span></h2>
        <div id="todo-lane" class="space-y-4">
            {{ range .Project.Backlog }}
                <div class="bg-[#719EC8] hover:bg-[#a3c9ec] hover:text-black p-4 rounded-lg shadow-md">
                    <p>{{ .Title }}</p>
                </div>
            {{ end }}
        </div>
    </div>

    <!-- In Progress Lane -->
    <div class="flex-1 bg-gray-600 p-4 rounded-lg shadow-lg">
        <h2 class="text-xl text-green-400 font-semibold mb-4">In Progress <span class="badge badge-success">{{len .Project.InProgress}}</span></h2>
        <div id="inProgress-lane" class="space-y-4">
            {{ range .Project.InProgress }}
                <div class="bg-[#719EC8] hover:bg-[#a3c9ec] hover:text-black p-4 rounded-lg shadow-md">
                    <p>{{ .Title }}</p>
                </div>
            {{ end }}
        </div>
    </div>

    <!-- Code Review -->
    <div class="flex-1 bg-gray-600 p-4 rounded-lg shadow-lg">
        <h2 class="text-xl text-yellow-600 font-semibold mb-4">Code Review <span class="badge badge-warning">{{len .Project.CodeReview}}</span></h2>
        <div id="codeReview-lane" class="space-y-4">
            {{ range .Project.CodeReview }}
                <div class="bg-[#719EC8] hover:bg-[#a3c9ec] hover:text-black p-4 rounded-lg shadow-md">
                    <p>{{ .Title }}</p>
                </div>
            {{ end }}
        </div>
    </div>

    <!-- Testing Lane -->
    <div class="flex-1 bg-gray-600 p-4 rounded-lg shadow-lg">
        <h2 class="text-xl text-orange-400 font-semibold mb-4">Testing <span class="badge badge-warning">{{len .Project.Testing}}</span></h2>
        <div id="testing-lane" class="space-y-4">
            {{ range .Project.Testing }}
                <div class="bg-[#719EC8] hover:bg-[#a3c9ec] hover:text-black p-4 rounded-lg shadow-md">
                    <p>{{ .Title }}</p>
                </div>
            {{ end }}
        </div>
    </div>

    <!-- Done Lane -->
    <div class="flex-1 bg-gray-600 p-4 rounded-lg shadow-lg">
        <h2 class="text-xl font-semibold mb-4">Done <span class="badge badge-neutral">{{len .Project.Done}}</span></h2>
        <div id="done-lane" class="space-y-4">
            {{ range .Project.Done }}
                <div class="bg-[#719EC8] hover:bg-[#a3c9ec] hover:text-black p-4 rounded-lg shadow-md">
                    <p>{{ .Title }}</p>
                </div>
            {{ end }}
        </div>
    </div>
</div>

<script>
    var todo = document.getElementById("todo-lane");
    var inProgress = document.getElementById("inProgress-lane");
    var codeReview = document.getElementById("codeReview-lane");
    var testing = document.getElementById("testing-lane");
    var done = document.getElementById("done-lane");

    new Sortable(todo, {
        group: 'swimlanes',
        animation: 150,
        ghostClass: 'blue-background-class',
    });

    new Sortable(inProgress, {
        group: 'swimlanes',
        animation: 150,
        ghostClass: 'blue-background-class',
    });

    new Sortable(codeReview, {
        group: 'swimlanes',
        animation: 150,
        ghostClass: 'blue-background-class',
    });

    new Sortable(testing, {
        group: 'swimlanes',
        animation: 150,
        ghostClass: 'blue-background-class',
    });

    new Sortable(done, {
        group: 'swimlanes',
        animation: 150,
        ghostClass: 'blue-background-class',
    });

</script>

{{ end }}